@import '../../../../global-styles';

.ResetEmailForm {
	@include column-align;
	align-items: flex-end;
	.fieldWrapper {
		width: 100%;
		.label {}
		.input {}
		.errorText {}
		.submitBtn {}
	}
	.buttons {
		@include row-align;
		gap: 8px;
	}
}