@import '../../global-styles';

.UserAvatar {
	@include center-align;
	@include size(100px);
	color: $primary;
	&.sm {
		@include text;
		box-shadow: $smBoxShadow;
	}
	&.md {
		@include bigText;
	}
	&.lg {
		@include mediumTitle;
		box-shadow: 2px 14px 43px -19px rgba(0,0,0,0.67);
	}
}