@import '../../../../global-styles';

.Message {
	@include row-align;
	margin-bottom: 12px;
	width: 100%;
	&:last-child {
		margin-bottom: 0;
	}
	&._my {
		justify-content: flex-end;
	}
	.avatar {
		margin-right: 8px;
	}
	.messageBody {
		padding: 9px 7px 10px;
		max-width: 60%;
		border-radius: 5px;
		background-color: $mainCol;
		.username {
			@include smallText;
			color: rgba($color: #fff, $alpha: 0.6)
		}
		.text {
			@include text;
			word-wrap: break-word;
			margin-bottom: 6px;
			color: #fff;
		}

		.createDate {
			margin-bottom: 0;
			color: rgba($color: #fff, $alpha: 0.5);
		}
	}
}