@import '../../../global-styles';

.NewMessageForm {
	@include column-align;
	align-items: flex-end;
	.textareaWrap {
		margin-bottom: 12px;
		width: 100%;
		//givno cod
		>div {
			flex-direction: row;
		}
	}
	.sendBtn {}
}