@import '../../../global-styles';

.NewMessageForm {
	@include column-align;
	padding-top: 8px;
	width: 100%;
	max-width: 100%;
	align-items: flex-end;
	background-color: #fff;
	z-index: 2;
	.textareaWrap {
		width: 100%;
		//givno cod
		>div {
			flex-direction: row;
		}
	}
	.sendBtn {}
}