@import '../../global-styles';
@import '../ChatCard/ChatCard.module.scss';

.GeneralChatCard {
    &._active {
        .icon {
            color: $primary;
        }
    }
    .globalIcon {
        @include size(48px);
        margin-right: 8px;
        .icon {
            font-size: 48px;
            color: $gray;
        }
    }
}