@import '../../../global-styles';
.form {
	@include column-align;
	align-items: center;
	.title {
		@include title;
		margin-bottom: 16px;	
	}  	
	.body {
		@include column-align;
		margin-bottom: 16px;
		.avatar {
			margin-right: 96px;
		}
		.textFields {

		}
	}

	.top {
		display: flex;
	}

	.initialsInputs {
		display: flex;
	}

	.avatarUpload {
		@include size(100px, 100px);
		border-radius: 50%;
		overflow: hidden;
	}
ї
	.aboutMe {
		width: 100%;
		max-height: 300px;
	}

	.schoolInfo {
		.selectSchool {
			width: 100%;
		}
		.selectClass {
			
		}	
	}
}