@import '../../global-styles';

.ScrollBtn {
	position: fixed;
	@include size(40px);
	bottom: 80px;
	right: 12px;
	display: flex;
	justify-content: flex-end;
	transition: 0.15s;
	opacity: 1;
	cursor: pointer;
	z-index: 2;
	&._hidden {
		opacity: 0;
		z-index: -1;
	}
	.arrow {
		position: relative;
		width: 100%;
		@include center-align;
		border-radius: 50%;
		background-color: $primary;
		box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.27);
		.unreadCount {
			position: absolute;
			top: -12px;
			right: -8px;
			@include unreadCount;
		}
		.icon {
			font-size: 20px;
			color: #fff;
			&._up {
				transform: rotate(180deg);
			}
		}
	}
}