@import '../../../global-styles';

.UsersSearch {
	margin-bottom: 28px;
	.title {
		margin-bottom: 12px;
		@include bigText;
		font-weight: 500;
	}
	.form {
		.input {
			.iconBtn {
				.icon {

				}
			}
		}
	}
}