@import '../../global-styles';

.Preloader {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	@include center-align;
	.image {
		@include size(64px);
		img {
			width: 100%;
			height: 100%;
		}	
	}
}