@import '../../global-styles';

.ActionStatus {
	position: fixed;
	left: 50%;
	width: 100%;
	padding: 0 16px;
	transform: translateX(-50%) scale(0.5);
	opacity: 0;
	transition: 0.1s;
	z-index: 7;
	&._show {
		opacity: 1;
		transform: translateX(-50%) scale(1);
	}
	.body {
		@include row-align;
		justify-content: center;
		padding: 6px 12px;
		background-color: #fff;
		box-shadow: $smBoxShadow;
		border-radius: 12px;
		.text {
			margin-right: 4px;
			text-align: center;
		}
	}
	&._loading {
		.text, .icon {
			//change it
			color: $gray;
		}
		.icon {
			
		}
	}
	&._error {
		.text, .icon {
			//change it
			color: red;
		}
	}
	&._success {
		.text, .icon {
			color: $success;
		}
		.icon {
			font-size: 20px;
		}
	}
}                                 