@import '../../global-styles';

.ChatCard {
	padding: 10px 8px;
	@include text;
	@include row-align;
	border-radius: 8px;
	background-color: #fff;
	transition: 0.2s;
	.avatar {
		@include size(48px);
		margin-right: 8px;
	}
	.body {
		flex: 1 1 auto;  
		padding-right: 8px;
		.top {
			@include row-align;
			justify-content: space-between;
			margin-bottom: 12px;
			.contactName {
				font-weight: 500;
			}
			.lastMessageTime {
				@include smallText;
				color: $gray;
			}
		}
		.lastMessage {
			display: flex;
			.senderName {
				margin-right: 4px;
			}
			.text {
				flex: 1 1 auto;
				color: $gray;
				overflow: hidden;
			}
			.newMessagesCount {
				&.styled {
					@include unreadCount;
				}
			}
		}
	}
	&._active {
		color: #fff;
		background-color: $primary;
		.body {
			.lastMessageTime, .text, .senderName, .contactName {
				color: #fff;
			}
		}
	}
}