@import '../../global-styles';

.Login {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	@include center-align;
	height: 100%;
	.content {
		@include column-align;
		max-width: 400px;
		.title {
			@include title;
			text-align: center;
			margin-bottom: 12px;
		}
		.loginBtn {
			@include row-align;
			justify-content: center;
			max-width: 600px;
			.googleIcon {
				@include size(20px);
			}
		}
	}
}