@import '../../global-styles';

.Login {
	@include column-align;
	height: 100%;
	.loginForm {

	}
	.loginBtn {
		@include row-align;
		justify-content: center;
		max-width: 600px;
		.googleIcon {
			@include size(20px);
		}
	}
}