@import './nullstyle.scss';
/*--------------------*/

//variables
$md1: 1440px;
$md2: 1024px;
$md3: 767px;

$mainCol: #001529;
$primary: #61764B  ;
$error: #d32f2f; 
$success: #2e7d32;
$black: rgb(51, 51, 51);
$grayBg: #fefefe;
$darkGray: rgb(117, 117, 117);
$gray: rgb(177, 177, 177);
$lightGray: rgba($color: $gray, $alpha: 0.5);
$smBoxShadow: 3px 5px 22px -1px $gray;

//mixins
@mixin size($w, $h: $w) {
  width: $w;
  height: $h;
}

@mixin font-style($fz, $lh, $fw: 400, $col: $black) {
    font-size: $fz;
    line-height: $lh;
    font-weight: $fw;
    color: $col;
}
@mixin column-align {
    display: flex;
    flex-direction: column;
}
@mixin row-align {
    display: flex;
    align-items: center;
}
@mixin center-align {
  display: flex;
  align-items: center;
  justify-content: center;
}
//typographic
@mixin bigText {
  @include font-style(18px, 140%);
  @media (max-width: $md2) {
    @include font-style(16px, 140%);
  }
}
@mixin text() {
  @include font-style(16px, 140%);
  // @media (max-width: $md2) {
  //   @include font-style(14px, 140%);
  // }
}
@mixin smallText() {
  @include font-style(14px, 140%);
  @media (max-width: $md2) {
    @include font-style(12px, 140%);
  }
}
@mixin smallTitle() {
  @include font-style(22px, 140%, 500);
  @media (max-width: $md2) {
    @include font-style(20px, 140%, 500);
  }
}

@mixin mediumTitle() {
  @include font-style(32px, 140%, 700);
  @media (max-width: $md2) {
    font-size: 24px;
  }
}

@mixin title() {
  @include font-style(40px, 140%, 700);
  @media (max-width: $md2) {
    @include font-style(32px, 140%, 700);
  }
  @media (max-width: $md3) {
    font-size: 28px;
  }
}
//general styles
.container {
  margin: 0 auto;
  max-width: 1120px;
  padding: 0 20px;
  box-sizing: content-box;
}
@mixin formBtn() {
  padding: 9px 15px;
  background-color: $mainCol;
  color: #fff;
  font-weight: 500;
  transition: 0.2s;
  border-radius: 6px;
  border: 0;
  cursor: pointer;
}

@mixin userAvatar {
  width: 70px;
  height: 70px;
  margin-right: 24px;
  border-radius: 50%;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
  }
}

@mixin input {
  padding: 10px 14px;
  width: 100%;
  @include smallText;
  border: 1px solid $gray;
  border-radius: 4px;
  transition: 0.2s;
  &::placeholder {
    font-style: italic;
    color: $gray;
  }
  &:hover {
    border-color: $grayBg;
  }
  &:focus {
    border-color: $mainCol;
  }

}

@mixin unreadCount {
  padding: 2px 6px;
  height: 20px;
  @include smallText;
  @include center-align;
  border-radius: 16px;
  color: #fff;
  background-color: $primary;

  @media (max-width: $md2) {
    color: #fff;
  }
}


.fieldWrapper {
  width: 100%;
}
.fieldLabel {
  @include text;
  margin-bottom: 4px;
}
.fieldErrorText {
  @include text;
  color: $error;
}
.input {
  @include input;
}
