@import '../../../global-styles';

.Posts {
	overflow-y: auto;
	box-sizing: border-box;
	&::-webkit-scrollbar {
		display: none;
	}
	.noQuestions {
		@include text;
		color: $gray;
		font-style: italic;
	}
}