@import '../../../global-styles';

.Posts {
<<<<<<< HEAD
=======
	overflow-y: auto;
>>>>>>> f0a0e1dc5720320ac046ce0a9489471ff300868f
	box-sizing: border-box;
	&::-webkit-scrollbar {
		display: none;
	}
	.noQuestions {
		@include text;
		color: $gray;
		font-style: italic;
	}
}