@import '../../../global-styles';

.AvatarUpload {
	@include size(100px);
	border-radius: 50%;
	overflow: hidden;
	position: relative;
	cursor: pointer;
	box-shadow: 1px 17px 98px -14px rgba(0,0,0,0.75);
	&:hover {
		.addAvatar {
			opacity: 1;
		}
	}
	.userAvatar {
		@include size(100%);
	}
	.addAvatar {
		position: absolute;
		top: 0;
		left: 0;
		@include size(100%);
		@include center-align;
		align-items: center;
		background-color: rgba(255, 255, 255, 0.75);
		transition: 0.25s;
		opacity: 0;
		z-index: 3;
		cursor: pointer;
		.input {
			position: absolute;
			left: 0;
			opacity: 0;
			visibility: hidden;
			z-index: -1;
		}
		.label {
			position: relative;
			@include center-align;
			@include size(100%);
			.addIcon {
				position: relative;
				@include size(40px);
				cursor: pointer;
				&::before, &::after {
					content: '';
					position: absolute;
					@include size(40px, 2px);
					border-radius: 2px;
					background-color: $primary;
				}
				&::before {
					top: 0;
					left: 50%;
					transform: rotate(-90deg) translate(-20px, -20px);
				}
				&::after {
					top: 50%;
					left: 0;
					transform: translateY(-50%);
				}
			}
		}
	}
	.avatar {
		margin-bottom: 16px;
		@include size(100%);
		@include title;
		color: $primary;
	}
	
}