@import '../../../global-styles';

.link {
	&._bigger {
		.btn {
			.icon {
				color: $darkGray;
				font-size: 30px;
			}
		}
	}
	&._active {
		.icon {
			color: $primary;
		}
	}
	.btn {
		.icon {
			font-size: 20px;
		}
	}
} 